<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_CRUD>
            <version>0.1.0</version>
        </Komplizierte_CRUD>
    </modules>
    <global>
        <models>
            <komplizierte_crud>
                <class>Komplizierte_CRUD_Model</class>
                <resourceModel>komplizierte_crud_resource</resourceModel>
            </komplizierte_crud>
            <komplizierte_crud_resource>
                <class>Komplizierte_CRUD_Model_Resource</class>
            </komplizierte_crud_resource>
        </models>
        <blocks>
            <komplizierte_crud>
                <class>Komplizierte_CRUD_Block</class>
            </komplizierte_crud>
        </blocks>
        <helpers>
            <komplizierte_crud>
                <class>Komplizierte_CRUD_Helper</class>
            </komplizierte_crud>
        </helpers>
        <resources>
            <komplizierte_crud_setup>
                <setup>
                    <module>Komplizierte_CRUD</module>
                </setup>
            </komplizierte_crud_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <komplizierte_crud>
                    <file>komplizierte_crud.xml</file>
                </komplizierte_crud>
            </updates>
        </layout>
        <translate>
            <modules>
                <komplizierte_crud>
                    <files>Komplizierte_CRUD.csv</files>
                </komplizierte_crud>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <komplizierte>
                <use>admin</use>
                <args>
                    <module>Komplizierte_CRUD</module>
                    <frontName>crud</frontName>
                </args>
            </komplizierte>
        </routers>
    </admin>
</config>